body {
  background-color: #1243BD;
  font-family: "Courier New";
  margin: 2em;
  color: rgb(137,66,91);
}

#happy {
  text-align: center;
}

h1 {
  text-align: center;
}

#please {
  font-family: Blippo
}
