body {
  background-color:#9BE1FF;
}

#happy {
  text-align: center;
  color: rgb()
}

h2 {
  text-align: center;
}

h1 {
  color: rgb(0, 136, 199);
  font-family: Bradley Hand, cursive;
}

img {
  float: left;
}

#otter {
   margin-left: 220px;
}
